<h1>Foo列表</h1>

<%= link_to "Add Foos" , root_path %>

  <table>
    <thead>
      <tr>
        <td>名稱</td>
      </tr>
    </thead>
    <tbody>
      <% @foos.each do |foo| %>
        <tr>
          <td>
            <%= foo.name %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>